<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climate Change Visualization</title>
</head>

<body>
    <a href="/">Go Back</a>
    <section>
        <h2>Climate Change Visualization</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Elevation</th>
                    <th>Station</th>
                </tr>
            </thead>
            <tbody>
                {% for station in stations %}
                <tr>
                    <td align="center">{{station.id}}</td>
                    <td align="center">{{station.name}}</td>
                    <td align="center">{{station.latitude}}</td>
                    <td align="center">{{station.longitude}}</td>
                    <td align="center">{{station.elevation}}</td>
                    <td align="center">{{station.station_code}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <th>Station ID</th>
                    <th>Date</th>
                    <th>Tmin</th>
                    <th>Tmax</th>
                </tr>
            </thead>
            <tbody>
                {% for temperature_record in temperature_records %}
                <tr>
                    <td align="center">{{temperature_record.station_id}}</td>
                    <td align="center">{{temperature_record.date}}</td>
                    <td align="center">{{temperature_record.tmin}}</td>
                    <td align="center">{{temperature_record.tmax}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>

</html>